.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;

    position: relative;
    background: radial-gradient(ellipse, transparent, black 50%);
}

.container > h3{
    font-size: 4rem;
    text-align: center;
    font-family: var(--kyivtype);
    color: var(--off-white);

    /* padding: 0 18rem; */
    width: 60%;
    z-index: 10;
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse, transparent, black 275%);
    z-index: 5;
}

.container::after{
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background:  url('/images/nss.png');
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

@media(max-width: 500px){
    .container > h3{
        width: 80%;
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
}
@media(max-width: 350px){
    .container > h3{
        font-size: 1.75rem;
        line-height: 1.75rem;
    }
}