.fullpage{
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
