.container{
    display: flex;
    flex-direction: column;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    color: var(--off-white);
    background: url('/images/proshow_banner.png');
    background-position: 0 75%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title{
    z-index: 20;
    text-align: center;
    font-family: var(--kyivtype);
    font-size: 8.5rem;
    line-height: 7.5rem;
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
}

.banner::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/noise_big.svg');
    mix-blend-mode: screen;
    opacity: 18%;
    z-index: 5;
    top: 0;
}

.banner::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(to bottom, transparent, black);
    background-size: 120% 100%;
    z-index: 7;
}

.cards-container{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 3rem;
    gap: 2.5rem;   
}

.card-container{
    width: 95%;
    display: flex;
    background-color: #111317;
    min-height: 460px;
    overflow: hidden;
}

.reverse{
    flex-direction: row-reverse;
}

.img{
    height: 100%;
    object-fit: cover;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    color: var(--off-white);
}

.name{
    font-size: 4rem;
    font-weight: 500;
}

.content{
    margin-top: 15px;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--off-white);
    font-size: 1.25rem;
    opacity: 65%;
}

.date-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.75rem;
}

.date{
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 1.85rem;
}

.date-day{
    display: flex;
    flex-direction: column;
}

.date-day > p:nth-child(2){
    opacity: 65%;
    font-size: 1.5rem;
}

.arrow{
    opacity: 45%;
}

@media(max-width: 1250px){
    .img{
        width: 420px;
    }
    .name{
        font-size: 3rem;
    }
    .content{
        font-size: 1.2rem;
    }
    .arrow{
        width: 70px;
        height: 70px;
    }
}

@media(max-width: 1150px){
    .card-container{
        width: 95%;
        min-height: 390px;
    }
    .img{
        width: 390px;
        height: 100%;
    }
    .name{
        font-size: 2.75rem;
    }
    .details{
        justify-content: space-around;
        padding: 1.7rem;
    }
    .content{
        font-size: 1rem;
    }
    .arrow{
        width: 60px;
        height: 60px;
    }
}

@media(max-width: 950px){
    .banner{
        padding-bottom: 2.5rem;
        align-items: flex-end;
        height: 225px;
        background-position: 0 65%;
    }
    .title{
        font-size: 4.5rem;
        line-height: 3.75rem;
    }
    .cards-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2rem 2.5rem;
    }
    .card-container{
        width: 280px;
        /* min-height: 710px; */
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .details{
        padding: 0.5rem 1rem 1rem;
    }
    .name{
        display: none;
    }
    .content{
        font-size: 1.05rem;
        text-align: justify;
        padding-bottom: 1rem;
    }
    .img{
        width: 280px;
        height: 280px;
    }
    .date{
        font-size: 1rem;
    }
    .date-day > p:nth-child(2){
        font-size: 0.95rem;
    }
    .arrow{
        width: 35px;
        height: 35px;
    }
}

@media(max-width: 450px){
    .title{
        font-size: 3rem;
        line-height: 3.25rem;
    }
    .card-container{
        width: 320px;
    }
    .img{
        width: 320px;
        height: 320px;
    }
    .content{
        opacity: 80%;
        font-size: 0.9rem;
    }
}